[submodule "asm_hammerspoon"]
	path = Spoons/asmHammerspoon
	url = https://github.com/asmagill/hammerspoon_asm.git
[submodule "asm_spaces"]
	path = Spoons/asm.hs_spaces
	url = https://github.com/vladdoster/hs._asm.spaces.git
