Spoons/*
!Spoons/BatteryMonitor.spoon
!Spoons/ClipboardHistory.spoon
!Spoons/DeleteSpace.spoon
!Spoons/DeminimizeWindow.spoon
!Spoons/FocusBorder.spoon
!Spoons/PinnedWindows.spoon
!Spoons/SpoonInstall.spoon
!Spoons/SummonWindow.spoon
!Spoons/VolumeControl.spoon
